language: php

dist: trusty

matrix:
  include:
    - php: 5.5
      env: SYMFONY_VERSION='3.3.3'
    - php: 5.5
      env: SYMFONY_VERSION='3.4.1'
    - php: 7.0
      env: SYMFONY_VERSION='3.3.3'
    - php: 7.0
      env: SYMFONY_VERSION='3.4.1'
    - php: 7.2
      env: SYMFONY_VERSION='3.4.1'
    - php: 7.2
      env: SYMFONY_VERSION='4.0.2'

  fast_finish: true

before_script:
  - if [ "$SYMFONY_VERSION" != "" ]; then composer require --no-update "symfony/framework-bundle:${SYMFONY_VERSION}"; fi;
  - composer update

script:
  - ./vendor/bin/php-cs-fixer fix --dry-run --diff
  - ./vendor/bin/phpunit
