<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Aws Push Bundle Test Suite">
            <directory>tests/Mcfedr/AwsPushBundle/Tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="tests/" />
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Mcfedr/AwsPushBundle/</directory>
        </whitelist>
    </filter>
</phpunit>
